/*================KIZITO===============================*/


/* CSS Reset */

/* default 'block' style for browsers NOT-SUPPORTED */
section, header, article, nav { display: block; } 

/* Use the wildcard selector to set margin and selector of every element to zero etc 
 * ... this level playing field coz those vary from browser to browser
 */

* {
	padding: 0;	/* if graphic element is troublesomely out of step, could be because you haven't set this */ 
  	margin: 0;
  	border: 0;
  	/*font-size: 12px;
  	font: inherit;
  
  	line-height: 1.22em;*/
	font-family: arial,helvetica,clean,sans-serif;
  }
  
header h1 {
  text-align: center;
}

li {	
		display: inline; 
		/*padding: 1em;
		list-style: none;*/
    	      }

/* As far as layout is concerned the only layout big-deal is for navigation list to appear horizontally */   
header nav li {	
		display: inline; 
		/*padding: 1em;
		list-style: none;*/
    	      }
    	      
/* All else is really cosmetics as far as layout is concerned coz content is contained in one column */

header nav ul {
  width: 100%;
  overflow: hidden;
  border-left-width: .1em;
  border-left-style: solid;
}

header nav li a {
  display: block;
  float: left;   /* float means whatever comes AFTER flows around element */
  padding: .5em 2em;
  border-right: .1em solid;
}

/* Should have come on top but just wanted to showcase 'display:inline' above */
body {

  /* shorthand property for 'magin' can have from one to four values 
   * four values order: top-right-bottom-left (to remember think 'clockwise')
   * three  --do------: top-[right left]-bottom
   * two  ----do------: [top bottom]-[right left]
   * one -----do------: all four margins
   */
   
  /* By default image is repeated to cover entire element i.e. both horizontally and vertically */
  /* Many properties for background so we can use shorthand BUT order is important even if some properties missing!*/
  
  margin: 1em 10%;	/* top and bottom margins are 1em; right/left are 10% of width of containing element */
  background-image: url(../images/background.gif);	/* image to be used as background of the element*/
  background-repeat: repeat-x;	/* image to be used as background of the element*/
  background-attachment: fixed;	/* image is fixed as opposed to scrolls with rest of page*/
  background-position: top left;	/* image should not disturb text or any other widget*/
  max-width: 80em;
}
header {
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat;	/* shows image only once*/
  background-position: top right;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}

header nav {
  background-image: url(../images/navbar.gif);
  background-repeat: repeat-x;	/* repeat background horizontally; would look strange if it went both directions*/
  background-position: bottom left;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 10%;
}

article {
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}

article img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}

/* give unique id attribute to <body> element so you can add STYLES specific to page
 * e.g. here we specify different background image for header (bottom right) of each individual page 
 * SO IT OVERIDES/UPDATES what <header> set up there for 'background-image: url(../images/map.gif)' */
#about header {	background-image: url(../images/farmers.jpg);  }
#photos header { background-image: url(../images/shops.jpg);  }
#tours header {	background-image: url(../images/circumcision.jpg);  }
#contact header { background-image: url(../images/street.jpg);  }

/* This CSS for slideshow on the fly...  */
#slideshow 	{
		  width: 150px;
		  height: 150px;
		  position: relative; /* child will have absolute position where div's top-left is position 0 */
		  overflow: hidden;
		  border: 1px solid;	/* stands out if you place a border around slide */
		  			/* or maybe to be even more chic we use our own custom frame.gif in home.js */
		}

img#frame 	{	/* I have however commented out home.js in index.html */
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		border-width: 0;
  		outline-width: 0;
	}
		
		
/* Set position in function moveElement(elementID,final_x,final_y,interval) of GLOBAL.js instead
#preview 	{
		  position: absolute;
		  border-width: 0;
		  outline-width: 0;
		}*/
		
		
/* For thumbnails to appear horizontally rather than vertically */
#imagegallery li {
  			display: inline;
		 }
		 
#imagegallery li {	list-style: none;  }	/* I do not want list to have bullet points - TYPOGRAPHY.css i suppose?*/
#imagegallery li a img { border: 0;  }  /* No border for thumbnail images - But actually cute with border!*/

	
/* for live.html itinerary */
td {
  padding: .5em .3em;
}

/* 'float' property just like 'display:inline' causes items to appear horizontally rather than vertically */
dl {
  overflow: hidden;
}
dt {
  float: left;
}
dd {
  float: left;
}

/* for contact.html */
label {
  display: block;	/* <label> element is inline by design but we want to force so label behaves as if it has LINE-BREAKS! */
  			/* i.e. force it into its own row */
}
fieldset {
  border: 0;
}

/* for contact.html - my AJAX addition */
#happyid {
  float: left;   /* float means whatever comes AFTER flows around element */
  padding: 0 .1em .1em;
  border: 0px;
  outline-width: 0;
}

/* for photo.html Placeholder image*/
#placeholder {
  border-style: solid;
  border-width: 10px;
}

/* IMPORTANT: float property
/* Maybe you WANT TO FLOAT the <P> AND <DIV> side-by-side NB: Had to decrease width though for <P>*/
/* ELEMENTS CAN ONLY BE floated HORIZONTALLY ==> LEFT/RIGHT not up/down   */
/* A floated element moves as far left/right as it can */
/* The <element> AFTER <floating element> will flow around it ==> our <div> flows around <p> */
/* NB: Obviously <element> BEFORE <floating element> NOT affected */
#intro {	
		width: 70%;
		float: left; 
		padding: 1em;
		/*margin: 1em;*/
    } 
  
 
#officialsgallery li {display: inline; }
#officialsgallery li {	list-style: none;  }	
#officialsgallery li div {display: inline; }

#borderforimage { border: solid .1em;  } 



/*--Style the caption box--*/
/*.description { 
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:black;
    text-align: left;
    font-family: 'tahoma';
    font-size:12px;
    color:white;
    opacity:0.6;*/ /* transparency */
    /*filter:alpha(opacity=60);*/ /* IE transparency */
/*}
.description p {
	padding:10px;
        margin:0px;
}*/

/*HTML5: don't you just luv it */
figure {
  			display: inline;
		 }
		 
figcaption {
		   display: inline;
		   /*font-size:80%; didn't work?!?*/
		 }